@media (max-width: 1024px) {

    .main-container {
        flex-direction: column;
      }



      .grid-container {
        width: 100vw;
        height: 60vh;
        grid-template-columns: 20% 1fr 1fr 1fr 1fr 20%;
        grid-template-rows: 25% 1fr 1fr 0.5fr 0.5fr 10%;


      }

  
    .number-container {
        display: flex;
        flex-direction: row;
        height: 40vh;
        width: 100vw;
    
        justify-content: space-between;
        overflow: hidden;
        position: relative;
      }
    
      .num1 {
        rotate: -180deg;
        scale: -1;
        width: 25vh;
        height: 40vh;
        text-align: center;
        font-size: 45vh;
        place-self: center;
      }

    /*TEXT--------------------------------------------------------------------------------------*/

    .having-thought {
        font-size: 7.5vw;
      }

      .decide{
        font-size: 7.5vw;
      }
      .having-decided {
        grid-area: 4/4/5/5;
        font-size: 3vw;
      }

      .do-not-think {
        grid-area: 5/4/6/6;
        font-size: 3vw;
      }
      .not {
        grid-area: 5/5/6/6;
        font-size: 2vw;
      }

      .not-think1 {
        grid-area: 5/6/6/7;
        font-size: 2vw;
        max-height: 100%;
        max-width: 100%;
        text-align: left;
      
        padding: 4%;
      }
      
      .not-think2 {
        grid-area: 5/6/6/7;
        font-size: 2vw;
        max-height: 100%;
        max-width: 100%;
        text-align: left;
        translate: 2vh 1vw;
        padding: 4%;
      }
      
    /*NUMBER--------------------------------------------------------------------------------------*/
 

      .number.num1:nth-child(1) {
        z-index: 3;
        transform: translate(27vw, 2vh);
    
    
      }
    
      .number.num1:nth-child(2) {
        z-index: 4;
        transform: translate(12vw, 2vh);
    
      }
    
      .number.num1:nth-child(3) {
        z-index: 5;
        transform: translate(0vw, 2vh);
    
      }
    
      .number.num1:nth-child(4) {
        z-index: 2;
        transform: translate(-14vw, 2vh);
    
      }
    
      .number.num1:nth-child(5) {
        transform: translate(-28vw, 2vh);
    
        z-index: 1;
      }

/* CIRCLE----------------------------------------------------------------------------------------------------------*/
    
      .big-circle {
        grid-column: 1/7;
        grid-row: 1/7;
        width: 50vw;
        height: 50vw;
        border: 0.3vw solid rgb(108, 108, 255);
        border-radius: 50%;
        place-self: center;
        z-index: 6;
        max-width: 100%;
        max-height: 100%;
    
      }
    
      .big-circle:nth-child(1) {
        transform: translate(0, 45vh);
        transform-origin: center;
    
      }
    
      .big-circle:nth-child(2) {
        transform: translate(20vw, 45vh);
    
      }
    
      .big-circle:nth-child(3) {
        transform: translate(-20vw, 45vh);
    
      }
    
      .xl-circle{
        width: 10vw;
        height: 10vw;
      }


}